main {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 25px;
}

img {
    max-width: 40%;
    margin-right: 20px;
}

h2 {
    max-width: 50%;
}

@media only screen and (max-width: 600px) {
    main {
        flex-direction: column;
    }

    img {
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    h2 {
        max-width: 100%;
    }
}

@media only screen and (min-width: 1000px) {
    main {
        flex-direction: row-reverse;
    }

    img {
        margin-left: 20px;
        margin-right: 0;
    }

    h2 {
        max-width: 100%;
    }
}