main h3{
    padding: 10px 50px;
    font-size: 12px;
}

img{
    max-width: 80%;
}

main h2{
    font-size: 14px;
    padding: 25px;
}

.sans{
    font-family: 'IBM Plex Sans', sans-serif;
    padding-left: 50px;
}

.section h2{
    padding-top: 0px;
    padding-bottom: 15px;
}

.section{
    padding-bottom:5px;
    padding-top: 5px;
    border: 1px solid;
    margin: 20px;
}

.prototype{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 1100px) {

    img{
        width: 1000px;
        padding: 10px 75px;
    }

    main h3{
        font-size: 20px;
    }
    main h2{
        font-size: 24px;
        padding: 35px 75px;
    }
    .section{
        /* padding-bottom:10px;
        padding-top: 10px; */
        border: 1px solid;
        margin: 60px;
    }
    .sans{
        font-family: 'IBM Plex Sans', sans-serif;
        padding-left: 100px;
    }
}