html {
    /* font-family: 'IBM Plex Mono', monospace; */

    background-color: white;
    scroll-behavior: smooth;
}

@media (prefers-reduced-motion) {
    html {
        scroll-behavior: auto;
    }
}


.skip {
    position: absolute;
    color: #fafaff;
    left: -1000px;
    top: auto;
    font-size: 14px;
}

.skip:focus {
    left: auto;
}



