html {
    font-family: 'IBM Plex Mono', monospace;

    background-color: #30343f;
    scroll-behavior: smooth;
    color: #fafaff;
}

@media (prefers-reduced-motion) {
    html {
        scroll-behavior: auto;
    }
}

a {
    text-decoration: none;
}

h2 {
    color: #e4d9ff;
    font-size: 10vw;
    font-weight: 500;
    text-align: center;
}

h3 {
    color: #e4d9ff;
    font-size: 6vw;
    font-weight: normal;
    text-align: center;
    font-weight: 500;
}

.skip {
    position: absolute;
    color: #fafaff;
    left: -1000px;
    top: auto;
    font-size: 14px;
}

.skip:focus {
    left: auto;
}

.resume img{
    display: block;
    margin: auto;
    width: 80%;
}

.resume{
    padding-bottom: 75px;
}
.contacts{
    font-size: 2vw;
    color: #e4d9ff;
    padding-bottom: 150px;
}

.contacts a{
    /* font-size: 2vw; */
    color: #e4d9ff;
    text-decoration: underline;
    /* padding-bottom: 150px; */
}
/* BEGIN NAV STYLES */
nav {
    position: fixed;
    left: -70%;
    width: 70%;
    height: 100%;
    background-color: rgb(30, 30, 30);

    /* transition */
    transition: left 0.5s;
    z-index: 1000;
}

.nav-toggle {
    position: fixed;
    left: 0px;
}

nav li {
    font-size: 10vw;
    margin: 50px 30px;
}

nav a {
    color: #fafaff;
    background-color: transparent;
}
nav a:hover, nav a:focus {
    color: #e4d9ff;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

nav button {
    background-color: rgb(30, 30, 30);
    position: absolute;
    border: none;
    left: 97%;
    border-radius: 5px;
    padding: 15px 15px 15px 17px;
}

.nav-icon {
    width: 30px;
    height: auto;
    background-color: transparent;
    float: right;
}

.projects:nth-child(0) {
    border: #fafaff solid 5px;
}


/* TABLET STYLE */
/* @media screen and (min-width: 481px) {
    nav {
        position: fixed;
        bottom: 0;
        left: 0;
        height: auto;
        background: #30343f;
        width: 100%;
        border-top: 1px solid rgb(170, 170, 170);
    }

    .nav-container {
        display: grid;
        grid-template-columns: 40% 14% 14% 14% 14%;
        justify-content: end;
        align-content: center;
        text-align: center;
    }

    .nav-container > li {
        font-size: 24px;
        display: inline;
        list-style-type: none;
        padding: 20px;
        margin: 0;
    }
    
    nav li:first-child {
        display: none;
    }

    .home-link {
        text-align: left;
    }

    .home-link > a {
        color: #e4d9ff;
    }

    .home-link > a:hover, .home-link > a:focus {
        color: #777247;
        text-decoration: underline;
        text-decoration-thickness: 2px;
    }
} */

/* DESKTOP STYLE */
@media screen and (min-width: 481px) {
    nav {
        position: fixed;
        top: -100px;
        bottom: auto;
        left: 0;
        height: auto;
        background: #30343f;
        width: 100%;
        border-bottom: 1px solid rgb(170, 170, 170);
        transition: top 0.3s ease-in-out;
    }

    .nav-container {
        display: grid;
        grid-template-columns: 40% 14% 14% 14% 14%;
        justify-content: end;
        align-content: center;
        text-align: center;
    }

    .nav-container > li {
        font-size: 24px;
        display: inline;
        list-style-type: none;
        padding: 20px;
        margin: 0;
    }
    
    nav li:first-child {
        display: none;
    }

    .home-link {
        text-align: left;
    }

    .home-link > a {
        color: #e4d9ff;
    }

    .home-link > a:hover, .home-link > a:focus {
        color: #777247;
        text-decoration: underline;
        text-decoration-thickness: 2px;
    }

}

/* END NAV STYLES */

/* HOME STYLES */
.home {
    padding: 100px 70px 50px;
    text-align: center;
    /* font-family: 'IBM Plex Mono', monospace; */
}

.home-name {
    display: block;
    color: #e4d9ff;
    font-size: 12vw;
    text-align: left;
    font-weight: 500;
}

.home-desc {
    display: block;
    /* font-family: 'IBM Plex Mono', monospace; */
    color: #fafaff;
    font-size: 4vw;
    line-height: 5vw;
    text-align: left;
    margin-top: 20px;
}

.home > img {
    width: 80%;
}

.home-nav {
    display: none;
}

/* HOME TABLET VIEW */
@media screen and (min-width: 481px) {
    .home-desc {
        font-size: 28px;
        line-height: 34px;
    }
}

/* HOME DESKTOP VIEW */
@media screen and (min-width: 980px) {
    .home {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-between;
        align-items: center;
        text-align: left;
        padding-top: 120px;
        margin-bottom: 40px;
        margin-left: 5%;
        margin-right: 5%;
    }
    .home-name {
        font-size: 8vw;
    }

    .home-desc {
        font-size: 2vw;
        line-height: 2.5vw;
        margin-top: 20px;
    }

    .home-nav {
        display: grid;
        grid-template-columns: auto;
        text-align: right;
        row-gap: 32px;
    }

    .home-nav-link {
        color: #fafaff;
        text-decoration: none;
        font-size: 4vw;
        transition: all 0.1s ease-in-out;
    }

    .home-nav-link:hover, .home-nav-link:focus {
        color: #e4d9ff;
        text-decoration: underline;
        text-shadow: 12px 12px 3px rgba(0, 0, 0, 0.3);


    }

}

/* END HOME STYLES */

/* ABOUT STYLES */

.about {
    padding: 0 40px 60px 40px;
    text-align: center;
    display: grid;
    grid-template-columns: auto;
}

.about > img {
    width: 80%;
    /* border-radius: 100%; */
    margin: auto;
}

.about-me {
    padding-top: 30px;
    text-align: center;
}

.about-desc {
    font-family: 'IBM Plex Sans', sans-serif;
    color: #fafaff;
    font-size: 5vw;
    line-height: 6vw;
    text-align: left;
    padding-top: 25px;
}

/* ABOUT TABLET & DESKTOP VIEW */
@media screen and (min-width: 481px) {
    .about {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-evenly;
        align-items: center;
        text-align: left;
        padding-bottom: 40px;
        padding-top: 30px;
    }

    .about > img {
        display: block;
        width: 70%;
        /* border-radius: 100%; */
        grid-row: 1 / span 2;
        grid-column: 1;
    }

    .about-me {
        font-size: 4vw;
        padding: 0;
        text-align: left;
        /* align-self: end; */
    }

    .about-desc {
        
        font-size: 18px;
        /* padding: 0; */
        /* line-height: 22px; */
        align-self: start;
        margin-right: 100px;
        line-height: 26px;
    }
}



/* END ABOUT STYLES */

/* SKILLS AND PROJECTS STYLES */

.projects {
    text-align: center;
    margin: 0 60px 60px 60px;
    display: grid;
    grid-template-columns: auto;
}

.projects > a > img {
    width: 80%;
    /* border-radius: 100%; */
    margin: auto;
    padding-top: 30px;
    padding-left: 6.3px;
}

.projects div {
    margin-bottom: 30px;
}

.project-desc {
    font-family: 'IBM Plex Sans', sans-serif;
    color: #e4d9ff;
    font-size: 5vw;
    line-height: 6vw;
    text-align: center;
    padding-top: 25px;
}


/* SKILLS TABLET VIEW */
@media screen and (min-width: 481px) {

    

    .skills-title, .projects-title, .contact-title {
        padding-top: 75px;
        padding-bottom: 50px;
        font-size: 4vw;
    }

    .project-desc {
        font-size: 2vw;
        line-height: 3vw;
    }

    #more {
        padding: 50px 0px;
    }

    .projects > a > img {
        width: 70%;
    }


    
}

/* SKILLS DESKTOP VIEW */
@media screen and (min-width: 980px) {
    .info-bubble {
        height: 200px;
    }

}
/* END SKILLS AND PROJECTS STYLES */

/* CONTACT STYLES */
.contact-title {
    padding-top: 30px;
    padding-bottom: 30px;
}

.contact-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: auto;
    width: 50%;
    gap: 20px;

    height: auto;
}

.contact-bubble {
    border: 1px solid #e4d9ff;
    width: 100%;
    border-radius: 25px;
    padding: 10px 20px;
    box-sizing: border-box;
}

.contact-bubble:hover p, .contact-bubble > a:focus p {
    text-decoration: underline;
}

.contact-bubble:hover, .contact-bubble:focus {
    transform: scale(1.2);
    transition: transform 0.4s ease-in-out;
    background-color: rgb(30, 30, 30);
}

.contact-bubble-inside {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: left;
    text-align: left;
    width: 100%;
}

.contact-bubble-inside > img {
    width: 40px;
    height: auto;
}

.contact-bubble-inside > p {
    color: #fafaff;
    align-self: center;
    padding-left: 30px;
}


.michigan-photo {
    display: block;
    width: 80%;
    height: auto;
    padding: 40px 0;
    margin: auto;
}

.return-to-top {
    display: block;
    color: rgb(170, 170, 170);
    text-align: center;
    font-size: 24px;
    padding-top: 20px;
    padding-bottom: 70px;
    text-decoration: underline;
}

@media screen and (min-width: 481px) {
    .contact-container {
        display: grid;
        grid-template-columns: 49% 49%;
        justify-content: center;
        align-content: center;
        margin: auto;
    }

    .contact-content {
        justify-self: end;
    }

    .return-to-top {
        padding-bottom: 120px;
    }
}

@media screen and (min-width: 980px) {
    .contact-title {
        padding-top: 60px;
        padding-bottom: 0;
    }
    .michigan-photo {
        width: 40%;
        justify-self: start;
        margin: 0;
        margin-left: 100px;
    }
    .contact-content {
        justify-self: end;
        margin: 0;
        padding: 0;
    }
    .contact-bubble {
        width: 70%;
    }
}