figure {
    text-align: center;
}

.video {
    width: 300px;
    height: auto;
}

a {
    text-decoration: none;
    color: #47003a;
}

@media only screen and (min-width: 600px) {
    .video {
        width: 550px;
    }
}

@media only screen and (min-width: 1000px) {
    .video {
        width: 950px;
    }
}