.images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

img {
    max-width: 180px;
    max-height: 320px;
}

img:last-child {
    grid-column: 1 / span 2;

}

@media only screen and (min-width: 600px) {
    .images {
        grid-template-columns: 1fr 1fr 1fr;
    }
    img {
        max-width: 200px;
        height: auto;
    }
    img:last-child {
        grid-column: 1 / span 3;

    }
}

@media only screen and (min-width: 1000px) {
    .images {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    img {
        max-width: 250px;
        height: auto;

    }
    img:last-child {
        grid-column: 1 / span 4;

    }
}