img{
    padding: 25px 25px 25px 50px;
    float: left;
    max-width: 30%;
    /* max-height:45%; */
}

h2 {
    padding: 35px 50px;

}

@media only screen and (min-width: 600px) {
    img{
        padding: 50px 50px 50px 150px;
        max-width: 30%;
    }
    h2 {
        padding: 75px 150px;
    }
}

@media only screen and (min-width: 1000px) {
    
    img{
        padding: 75px 75px 75px 200px;
        max-width: 30%;
    }
    h2 {
        padding: 150px 200px;
    }
}


