.skip a{
    background: white;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
    position: absolute;
    top: -40px;
}

.skip a:focus {
    top: 20px;
}



@media screen and (prefers-reduced-motion: reduce){
    .skip a{
        -webkit-transition: none; /* sets to default setting */
        transition: none;        /* sets to default setting */
        }

}

header {
    width: 100%;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}

.name{
    display: block;
    font-family: 'IBM Plex Sans', sans-serif;

}
/* nav {
    text-align: right;
    padding: 25px;
    background-color: lavender;
} */

nav ul{
    display: flex;
    /* text-align: right; */
    
}

nav a{
    /* text-align: center; */
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 10px;
    padding-right: 10px;
    color: black;
    /* border: 2px solid rgb(53, 0, 71); */
    text-decoration: none;
}

.current a{
    /* border: 3px solid black; */
    text-decoration: underline;   
}

nav a:hover, nav a:focus {
    /* border: 3px dotted black; */
    /* text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); */
    font-size: 115%;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    
}

.icon{
    width: 10px;
    padding: 30px;
}

h1{
    color: black;
    padding: 15px;
    text-align: center;
    font-family: 'IBM Plex Mono', monospace;
    
}

h2{
    color: black;
    padding: 35px 50px;
    text-align: left;
    font-size: 70%;
    line-height: 125%;
    font-family: 'IBM Plex Mono', monospace;
}

h3{
    color: black;
    font-family: 'IBM Plex Mono', monospace; 
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 25px;
}

a.connect{
    color: black;
    /* text-decoration: none; */
}

.button{
    background-color: white;
    border: none;
    color: black;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1em;
    font-weight: bold;
    text-decoration: underline;

}

.caption{
    text-align: center;
    padding: 0px;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    max-width: 20%;
    /* max-height:45%; */
}

.outer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 550px;
    margin-bottom: 50px;
}

.project {
    text-align: center;
    max-width: 600px; /* Set a maximum width if needed */
    width: 100%; /* Ensure it takes the full width within the maximum width */
}

.project a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project img {
    margin-left: 10px;
    max-width: 100px;
}

.project-text {
    text-align: right;
}

.project-text h2{
    padding: 10px;
    text-align: right;
}
.project-text h1{
    /* padding: 10px; */
    text-align: right;
}



@media only screen and (min-width: 600px) {
    /* nav a{
        margin: 50px;
    } */

    h1 {

        font-size: 150%;
    }
    h2 {
        font-size: 100%;
        padding: 75px 150px;
    }
    img{
        padding: 50px;
    }

    .icon{
        width: 15px;
        padding: 40px;
    }
}

@media only screen and (min-width: 1000px) {
    /* nav a{
        margin: 100px;
    } */
    h1 {
        font-size: 180%;
    }

    .title{
        padding: 50px;
    }
    h2 {
        font-size: 120%;
        padding: 150px 200px;
    }
    img{
        padding: 25px;
    }
    .icon{
        width: 25px;
        padding: 50px;
    }

 
    .project {
        text-align: center;
        max-width: 1200px; /* Set a maximum width if needed */
        width: 100%; /* Ensure it takes the full width within the maximum width */
    }
    
    .project a {
        text-decoration: none;
        color: black; /* Adjust the color as needed */
        display: flex;
        align-items: center;
    }
    
    .project img {
        margin-right: 0px;
        margin-left: 10px; /* Adjust the margin as needed for spacing between text and image */
        max-width: 600px; /* Adjust the max-width as needed */
    }
    /* h2.project-text{
        padding: 10px;
    } */
}


