html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.content {
    text-align: left;
    margin-bottom: 24px; /* Ensure 48px margin below the "In Progress!" div */
}

.image {
    align-self: center;
    /* max-height: calc(100vh - 48px - 48px - 48px - 48px); Adjust height to fit within the viewport */
    max-width: 20%;
}

/* .footer {
    padding: 48px 0;
    text-align: center;
} */